.footer {
  font-family: "Futura Book";
  background-color: #ffb937;
  padding-top: 10px;
  padding-bottom: 10px;
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &__img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      float: left;
    }
  }
  .col-md-4 {
    border-left: 2px solid;
  }
  &__contacto {
    display: flex;
    justify-content: center;
    &__titulo {
      text-align: center;
      align-self: center;
      font-family: "Futura Bold";
      font-size: 2rem;
      font-weight: bold;
      @media (min-width: 768px) {
        & {
        }
      }
    }
    &__data {
      margin-bottom: 0.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      &:hover {
        color: black;
      }
      @media (min-width: 768px) {
        & {
          flex-direction: row;
        }
      }
      i {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        @media (min-width: 768px) {
          & {
            justify-content: unset;
          }
        }
      }
      p {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}
