.modal-dialog {
  max-width: none !important;
  width: 100%;
  display: flex;
  justify-content: center;
  .modal-content {
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    background-image: url("../../assets/img/index/ruedaindex.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
