@font-face {
  font-family: "Futura Bold";
  src: url("../../assets/fonts/FuturaStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Futura Md BT";
  src: url("../../assets/fonts/FuturaStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Futura Heavy";
  src: url("../../assets/fonts/FuturaStd-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Futura Book";
  src: url("../../assets/fonts/FuturaStd-Book_0.otf") format("opentype");
}

.headerIndex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.headerIndex__nav {
  margin-right: 0 !important;
  align-self: end;
  z-index: 2;
  flex-direction: column;
  align-items: end;
}

.headerIndex__nav__circle {
  cursor: pointer;
  z-index: 2;
  margin-top: 2rem;
  margin-right: 3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #ffb937;
  mask-image: radial-gradient(circle farthest-side at center, transparent 40%, white 40%);
}

.headerIndex__nav p {
  cursor: pointer;
  z-index: 2;
  font-family: "Futura Md BT";
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-right: 3rem;
  width: 6rem;
}

.headerIndex__hero {
  margin-right: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: relative;
  height: 80vh;
}

.headerIndex__hero__titulo {
  padding-right: 0;
  z-index: 2;
  font-family: "Futura Bold";
  display: flex;
  flex-direction: column;
}

.headerIndex__hero__titulo h2 {
  color: #ffb937;
  font-size: 84px;
}

.headerIndex__hero__titulo__link {
  text-align: center;
  align-self: center;
  color: white;
  font-family: "Futura Md BT";
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #50b8b0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.headerIndex:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background-image: url("../../assets/img/index/heroIndex.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerSecciones__nav {
  z-index: 2;
  justify-content: space-between;
  flex-direction: row;
}

.headerSecciones__nav__menu {
  width: auto;
}

.headerSecciones__nav__menu__circle {
  cursor: pointer;
  z-index: 2;
  margin-top: 2rem;
  margin-right: 3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #ffb937;
  mask-image: radial-gradient(circle farthest-side at center, transparent 40%, white 40%);
}

.headerSecciones__nav__menu p {
  cursor: pointer;
  z-index: 2;
  font-family: "Futura Md BT";
  font-size: 1.5rem;
  text-align: center;
  margin-right: 3rem;
  width: 6rem;
}

.headerSecciones__nav__img {
  width: 400px;
}

.modal-dialog {
  max-width: none !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-dialog .modal-content {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: #ffb937;
  mask-image: radial-gradient(circle farthest-side at center, transparent 49%, white 50%);
}

.servicios {
  position: relative;
  background: #0000001a 0% 0% no-repeat padding-box;
}

.servicios__tarjetas {
  z-index: 1000;
  position: absolute;
  top: -1.5rem;
  gap: 1rem;
  justify-content: center;
  margin-right: 0 !important;
}

.servicios__tarjetas__tarjeta {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 70%;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .servicios__tarjetas__tarjeta {
    flex-basis: 48%;
  }
}

@media (min-width: 1200px) {
  .servicios__tarjetas__tarjeta {
    width: auto;
    margin-bottom: 0;
    flex-basis: 20%;
  }
}

.servicios__tarjetas__tarjeta .tarjeta__titulo {
  min-height: 70px;
  font-family: "Futura Bold";
  text-align: center;
}

.servicios__tarjetas__tarjeta .tarjeta__imgContainer {
  position: relative;
  padding-top: 100%;
}

.servicios__tarjetas__tarjeta .tarjeta__imgContainer img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.servicios__tarjetas__tarjeta .tarjeta__lista {
  padding: 0;
  margin-bottom: 5rem;
  text-align: center;
  list-style: none;
  font-family: "Futura Md BT";
  font-size: 1.3rem;
}

.servicios__tarjetas__tarjeta .tarjeta__offset {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -6.6em;
  align-self: center;
}

.servicios__tarjetas__tarjeta .tarjeta__offset__circle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.servicios__tarjetas__tarjeta .tarjeta__offset__circle__btn {
  font-size: 3rem;
  font-weight: bold;
}

.servicios__tarjetas__tarjeta .tarjeta__offset__leyenda {
  font-family: "Futura Bold";
}

.servicios__tarjetas .tarjeta1,
.servicios__tarjetas .circle1 {
  background-color: #ffb937;
}

.servicios__tarjetas .tarjeta2,
.servicios__tarjetas .circle2 {
  background-color: #ea7158;
}

.servicios__tarjetas .tarjeta3,
.servicios__tarjetas .circle3 {
  background-color: #50b8b0;
}

.servicios__tarjetas .tarjeta4,
.servicios__tarjetas .circle4 {
  background-color: #47a5c5;
}

.container-fluid {
  padding: 0;
}

.col-lg-12 {
  padding: 0;
}

.row {
  margin: 0;
}

.body-index {
  position: relative;
  top: 55rem;
  background-image: url("../../assets/img/index/Linea-Homepage.png");
  background-position: 40% 50%;
}

#rueda {
  background-image: url("../../assets/img/index/ruedaindex.png");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 300px;
}

.box-equipo-index {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.box-img-index {
  height: 150px;
}

.box-img-index img {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.img1 {
  margin-left: 830px;
}

.img2 {
  margin-left: 290px;
}

.img3 {
  margin-top: 220px;
  margin-left: 580px;
}

.div-h2 {
  margin-bottom: 30px;
}

.h2-index {
  font-family: "Futura Bold";
  font-size: 2rem;
  margin-left: 250px;
}

.h3-index {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 325px;
}

/* CAROUSEL */
.carousel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-indicators .indicador {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-width: inherit;
  background-color: #ffb937;
}

.body-nosotros {
  background-image: url(../img/linea-nosotros.png);
  background-position: 40% 25%;
  /* position  48 25 */
}

.paisajeInt {
  display: flex;
  width: 100%;
  height: 200px;
}

.paisajeInt img {
  width: 100%;
  object-fit: cover;
}

.h-nosotros {
  font-family: "Futura Bold";
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.p-nosotros {
  font-weight: bold;
  font-size: 20px;
  margin-left: 55px;
}

.h-nuestroequipo {
  font-family: "Futura Bold";
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 100px;
  margin-bottom: 100px;
}

.box-equipo {
  display: flex;
  justify-content: space-around;
}

.box-img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.box-img img {
  border-radius: 50%;
  border: solid #efa721;
}

.h-nombres {
  font-family: "Futura STD BC";
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
}

.p-nombres {
  text-align: center;
  font-weight: bold;
}

.box-nombres {
  margin-bottom: 180px;
}

.body-servicios {
  background-image: url(../img/linea-servicios.png);
  background-position: 45%;
}

.h-servicios {
  font-family: "Futura Bold";
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.box-servicios img {
  width: 600px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.h2-servicios {
  font-family: "Futura Bold";
  margin-right: 50px;
  margin-left: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
}

.p-servicios {
  text-align: center;
  font-weight: bold;
}

.proyectos__titulo {
  font-family: "Futura Heavy";
  margin-top: 2rem;
  padding-left: 2rem;
}

.proyectos__proyecto {
  padding: 2rem;
  font-family: "Futura Bold";
}

.proyectos__proyecto__descripcion {
  font-family: "Futura Md BT";
}

.proyectos__proyecto__titulo {
  text-align: center;
  min-width: 32.5%;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.3rem;
}

.proyectos__proyecto__titulo--amarillo {
  background-color: #ffb937;
}

.proyectos__proyecto__titulo--rojo {
  background-color: #ea7158;
}

.proyectos__proyecto__titulo--cyan {
  background-color: #50b8b0;
}

.proyectos__proyecto__titulo--celeste {
  background-color: #47a5c5;
}

.proyectos__proyecto__grillaDer {
  display: grid;
  grid-template-areas: "img1 img2 img3" "img4 img5 img3";
  grid-template-columns: 1.69fr 1.34fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.proyectos__proyecto__grillaDer__img1 {
  grid-area: img1;
}

.proyectos__proyecto__grillaDer__img2 {
  grid-area: img2;
}

.proyectos__proyecto__grillaDer__img3 {
  grid-area: img3;
}

.proyectos__proyecto__grillaDer__img4 {
  grid-area: img4;
}

.proyectos__proyecto__grillaDer__img5 {
  grid-area: img5;
}

.proyectos__proyecto__flex1 {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.proyectos__proyecto__flex1__img {
  width: 49%;
}

.proyectos__proyecto__flex2 {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.proyectos__proyecto__flex2__img {
  width: 49%;
}

.proyectos__proyecto__flex2__img {
  width: 23.5%;
}

.proyectos__proyecto__flex3 {
  display: flex;
  gap: 2rem;
}

.proyectos__proyecto__flex3__img {
  width: 31.5%;
}

.contacto {
  font-family: "Futura Bold";
  display: flex;
}

.contacto__info {
  align-self: center;
}

.contacto__info__titulo {
  font-family: "Futura Heavy";
  font-size: 2rem;
}

.contacto__info__subtitulo {
  font-family: "Futura Md";
}

.contacto__info__flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto__info__flex__dato {
  font-family: "Futura Book";
}

footer {
  background-color: #ffb937;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logoFoot {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

i {
  margin-right: 10px;
  margin-top: 10px;
}

.contactoFoot {
  display: flex;
  justify-content: right;
  align-items: center;
  border-right: solid;
}

.pContacto {
  font-family: "Futura Bold";
  font-size: 2rem;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */