@font-face {
  font-family: "Futura Bold";
  src: url("../../assets/fonts/FuturaStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Futura Md BT";
  src: url("../../assets/fonts/FuturaStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Futura Heavy";
  src: url("../../assets/fonts/FuturaStd-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Futura Book";
  src: url("../../assets/fonts/FuturaStd-Book_0.otf") format("opentype");
}
