.contacto {
  font-family: "Futura Bold";
  display: flex;
  &__info {
    align-self: center;
    &__titulo {
      font-family: "Futura Heavy";
      font-size: 2rem;
    }
    &__subtitulo {
      font-family: "Futura Md";
      margin-bottom: 2rem;
    }
    &__flex {
      display: flex;
      gap: 1rem;
      &__dato {
        font-family: "Futura Book";
      }
    }
  }
}
