.servicios {
  position: relative;
  background: #0000001a 0% 0% no-repeat padding-box;
  &__tarjetas {
    z-index: 1000;
    position: absolute;
    top: -1.5rem;
    gap: 1rem;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
    &__tarjeta {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      margin-bottom: 5rem;
      box-shadow: $sombra;
      @media (min-width: 768px) {
        & {
          margin-right: 0;
          margin-left: 0;
          flex-basis: 48%;
        }
      }
      @media (min-width: 1200px) {
        & {
          margin-bottom: 0;
          flex-basis: 23%;
        }
      }
      .tarjeta__titulo {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        min-height: 120px;
        align-items: center;
        font-family: "Futura Bold";
        margin-bottom: 2rem;
      }
      .tarjeta__imgContainer {
        position: relative;
        padding-top: 100%;
        margin-bottom: 2rem;
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .tarjeta__lista {
        padding: 0;
        margin-bottom: 5rem;
        text-align: center;
        list-style: none;
        font-family: "Futura Md BT";
        font-size: 1.3rem;
      }
      .tarjeta__offset {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: -6.6em;
        align-self: center;
        &__circle {
          display: flex;
          justify-content: center;
          align-content: center;
          align-self: center;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          box-shadow: $sombraCirculo;
          &__btn {
            font-size: 3rem;
            font-weight: bold;
          }
        }
        &__leyenda {
          font-family: "Futura Bold";
        }
      }
    }
    .tarjeta1,
    .circle1 {
      background-color: $amarillo;
    }
    .tarjeta2,
    .circle2 {
      background-color: $rojoClaro;
    }
    .tarjeta3,
    .circle3 {
      background-color: $cyan;
    }
    .tarjeta4,
    .circle4 {
      background-color: $celeste;
    }
  }
}

.body-index {
  position: relative;
  top: 220rem;
  background-image: url("../../assets/img/index/Linea-Homepage.png");
  background-position: 40% 50%;
  .rueda {
    .box-equipo-index {
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      .box-img-index {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          display: flex;
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
      @media (min-width: 768px) {
        & {
          .img1 {
            margin-left: 830px;
          }

          .img2 {
            margin-left: 290px;
          }
          .img3 {
            margin-top: 220px;
            margin-left: 580px;
          }
        }
      }
    }
  }
  .div-h2 {
    @media (min-width: 768px) {
      & {
        margin-bottom: 30px;
        .h2-index {
          font-family: "Futura Bold";
          font-size: 2rem;
          margin-left: 250px;
        }

        .h3-index {
          font-size: 1.5rem;
          font-weight: bold;
          margin-left: 325px;
        }
      }
    }
  }
}

.carousel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  .carousel-indicators {
    .indicador {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border-width: inherit;
      background-color: #ffb937;
    }
  }
  .carousel-inner {
    border-radius: 10px;
  }
}
