.hero {
  height: 80vh;
  font-family: "Futura Md BT";
  background-image: url("../../assets/img/index/heroIndex.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  &__bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
    z-index: 1001;
    &__titulo {
      margin-bottom: 2rem;
      font-family: "Futura Bold";
      font-size: 2rem;
      color: $amarillo;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 3rem;
        max-width: 772px;
        margin-right: 4rem;
        align-self: flex-end;
      }
    }
    &__link {
      text-align: center;
      align-self: center;
      color: white;
      font-family: "Futura Md BT";
      font-size: 1.5rem;
      text-decoration: none;
      background-color: $cyan;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
      @media (min-width: 768px) {
        align-self: flex-end;
        margin-right: 15rem;
      }
    }
  }
}

.servicios {
  position: relative;
  top: -1.5rem;
  z-index: 1000;
  align-content: center;
  justify-content: center;
  margin: 0 !important;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: 99.2%;
    opacity: 1;
    background-color: #0000001a;
    @media (min-width: 576px) {
      & {
        height: 99.15%;
      }
    }
    @media (min-width: 768px) {
      & {
        height: 98.5%;
      }
    }
    @media (min-width: 800px) {
      & {
        height: 98.45%;
      }
    }
    @media (min-width: 900px) {
      & {
        height: 98.41%;
      }
    }
    @media (min-width: 992px) {
      & {
        height: 98.4%;
      }
    }
    @media (min-width: 1000px) {
      & {
        height: 98.3%;
      }
    }
    @media (min-width: 1200px) {
      & {
        height: 97%;
      }
    }
    @media (min-width: 1200px) {
      & {
        height: 96.9%;
      }
    }
  }
  &__tarjeta {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    flex-basis: 80%;
    @media (min-width: 768px) {
      & {
        margin: 1rem 1rem 6rem 1rem;
        flex-basis: 45%;
      }
    }
    @media (min-width: 1200px) {
      & {
        margin: 0.5rem 0.5rem 6rem 0.5rem;
        flex-basis: 20%;
      }
    }
    &__titulo {
      min-height: 80px;
      margin-top: 2rem;
      font-family: "Futura Bold";
      font-size: 1.2rem;
      text-align: center;
    }
    &__img {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
      img {
        width: 250px !important;
        height: auto;
      }
    }
    &__lista {
      padding: 0;
      font-family: "Futura Md BT";
      font-size: 1.2rem;
      text-align: center;
      list-style: none;
      margin-bottom: 4rem;
    }
    &__offset {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: -6.6rem;
      align-self: center;
      .circle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: none;
        a {
          text-decoration: none;
          color: black;
          align-self: center;
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }
    &--1,
    .circle1 {
      background-color: $amarillo;
    }
    &--2,
    .circle2 {
      background-color: $rojoClaro;
    }
    &--3,
    .circle3 {
      background-color: $cyan;
    }
    &--4,
    .circle4 {
      background-color: $celeste;
    }
  }
}

.nosotros {
  position: relative;
  top: -1.5rem;
  background-image: url("../../assets/img/index/Linea-Homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 999;
    opacity: 1;
    background-color: #0000001a;
    background-repeat: no-repeat;
  }
  @media (min-width: 992px) {
    & {
      background-position: 0rem 14rem;
    }
  }
  @media (min-width: 1200px) {
    & {
      background-position: 0rem 10rem;
    }
  }
  @media (min-width: 1400px) {
    & {
      background-position: 0rem 6rem;
    }
  }
  @media (min-width: 1600px) {
    & {
      background-position: 0rem 2rem;
    }
  }
  @media (min-width: 1800px) {
    & {
      background-position: 0rem -2rem;
    }
  }
  &__rueda {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    z-index: 1001;
    @media (min-width: 992px) {
      & {
        display: none;
      }
    }
    img {
      width: 400px;
      height: auto;
      justify-self: center;
    }
  }
  &__integrantes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    @media (min-width: 992px) {
      & {
        max-height: 95vh;
        position: relative;
        z-index: 1000;
        background-image: url("../../assets/img/index/ruedaindex.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%;
      }
    }
    @media (min-width: 992px) {
      & {
        margin-bottom: 10rem;
        background-size: 48%;
      }
    }
    @media (min-width: 1400px) {
      & {
        background-size: 40%;
      }
    }
    @media (min-width: 1600px) {
      & {
        background-size: 35%;
      }
    }
    &__integrante {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (min-width: 992px) {
        & {
          width: 20rem;
        }
      }

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18rem;
        h4 {
          font-family: "Futura Bold";
          text-align: center;
          font-size: 1.2rem;
        }
        ul {
          font-family: "Futura Book";
          text-align: center;
          padding: 0;
          font-size: 1rem;
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-items: center;
          @media (min-width: 992px) {
            & {
              max-width: 200px;
            }
          }
          li {
            text-decoration: none;
          }
        }
      }
      @media (min-width: 992px) {
        & {
          max-width: 25rem;
          position: relative;
        }
      }
      @media (min-width: 992px) {
        & {
          position: relative;
          &--1 {
            align-self: flex-end;
            top: 10vw;
            right: 2vw;
            img {
              align-self: flex-start;
            }
          }
          &--2 {
            right: 0vw;
            top: -14vw;
            img {
              align-self: flex-end;
            }
          }
          &--3 {
            right: -45vw;
            top: -20vw;
            flex-direction: row;
            h4 {
              width: 15rem;
              flex-basis: 40%;
            }
            .nosotros__integrantes__integrante__data {
              margin: 0;
            }
          }
        }
      }
      @media (min-width: 1200px) {
        & {
          &--1 {
            top: 8vw;
            right: 6vw;
          }
          &--2 {
            top: -12vw;
            right: -4vw;
          }
          &--3 {
            right: -45vw;
            top: -12vw;
          }
        }
      }
      @media (min-width: 1400px) {
        & {
          &--1 {
            top: 8vw;
            right: 12vw;
          }
          &--2 {
            top: -12vw;
            right: -12vw;
          }
          &--3 {
            right: -46vw;
            top: -12vw;
          }
        }
      }
      @media (min-width: 1600px) {
        & {
          &--1 {
            top: 6vw;
            right: 18vw;
          }
          &--2 {
            top: -12vw;
            right: -18vw;
          }
          &--3 {
            right: -47vw;
            top: -9vw;
          }
        }
      }
    }
  }
  .proyectos {
    &__titulo {
      font-family: "Futura Bold";
      display: flex;
      flex-direction: column;
      padding: 0;
      h2 {
        text-align: center;
      }
      h3 {
        font-family: "Futura Md BT";
        text-align: center;
      }
      @media (min-width: 992px) {
        & {
          margin-bottom: 30px;
          padding-left: 16rem;
          h2 {
            text-align: start;
            font-size: 2rem;
          }
          h3 {
            text-align: start;
            font-size: 1.5rem;
          }
        }
      }
      @media (min-width: 1200px) {
        padding-left: 20rem;
      }
      @media (min-width: 1400px) {
        padding-left: 25rem;
      }
      @media (min-width: 1600px) {
        padding-left: 30rem;
      }
    }
    &__carrusel {
      .carousel {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        .carousel-indicators {
          .indicador {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border-width: inherit;
            background-color: #ffb937;
          }
        }
        .carousel-inner {
          border-radius: 10px;
        }
      }
    }
  }
}
