.proyectos {
  &__titulo {
    font-family: "Futura Heavy";
    margin-top: 2rem;
    padding-left: 2rem;
  }
  &__proyecto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: "Futura Bold";
    &__descripcion {
      padding: 1rem;
      font-family: "Futura Md BT";
      font-size: 1.5rem;
    }
    &__titulo {
      text-align: center;
      min-width: 32.5%;
      margin-bottom: 3rem;
      margin-top: 2rem;
      display: inline-block;
      padding: 1.5rem 4rem;
      font-size: 1.3rem;
      &--amarillo {
        background-color: $amarillo;
      }
      &--rojo {
        background-color: $rojoClaro;
      }
      &--cyan {
        background-color: $cyan;
      }
      &--celeste {
        background-color: $celeste;
      }
    }
    &__lista {
      font-size: 1.2rem;
    }
    &__grillaDer {
      @include grillaDer;
    }
  }
}
