.body-servicios {
  background-image: url(../img/linea-servicios.png);
  background-position: 45%;
}

.h-servicios {
  font-family: "Futura Bold";
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.box-servicios img {
  width: 600px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.h2-servicios {
  font-family: "Futura Bold";
  margin-right: 50px;
  margin-left: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
}

.p-servicios {
  text-align: center;
  font-weight: bold;
}
